@(game: models.Game, form: Form[InputText], postUrl: Call)(implicit request: MessagesRequestHeader)

<head>
    <title>Game</title>
    <link href="stylesheets/gameStyle.css" rel="stylesheet">
</head>

@main("") {
    <section id="map">
        <div class="wrapper">
            <div class="gameMap" style="position: relative;">
                <img src="@routes.Assets.versioned("images/world-domination-game-board-2.1.1.jpg")" style="max-width: 100%; max-height: 100%; ">
                @for(i <- GameMap.getTerritories) {
                    <div class="territory" style="position: absolute; top: @(i.position._1 + "%"); left: @(i.position._2 + "%"); max-height: 10%;">
                        <p style="color: @("rgb(" + i.occupant.createRGB._1 + ", " + i.occupant.createRGB._2 + ", " + i.occupant.createRGB._3 + ")");">@i.numArmies</p>
                    </div>
                }
            </div>

        </div>
    </section>
    <section id="controls">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm text-center bg-secondary text-light">
                    <h1>Game Status</h1>

                    @if(game.state == models.Roll) {
                        <h3>Attacker Rolls</h3>
                        @for(t <- BattleInfo.attackRolls) {
                            <p>@t</p>
                        }
                        <h3>Defender Rolls</h3>
                        @for(t <- BattleInfo.defendRolls) {
                            <p>@t</p>
                        }
                    }
                    @if(game.state == models.Defend) {
                        <h3 style="color:@("rgb(" + game.getCurrentPlayer().createRGB._1 + ", " + game.getCurrentPlayer().createRGB._2 + ", " + game.getCurrentPlayer().createRGB._3 + ")");">Current Player: (models.GameMap.territoryMap(@game.attacker.attackTo).occupant).name<p>
                    } else {
                    <h3 style="color:@("rgb(" + game.getCurrentPlayer().createRGB._1 + ", " + game.getCurrentPlayer().createRGB._2 + ", " + game.getCurrentPlayer().createRGB._3 + ")");">Current Player: @game.getCurrentPlayer().name<p>
                    }
                    <h3>Armies Not Yet Placed: @game.getCurrentPlayer().armiesOnReserve</h3>
                    <h3>Current Action: @game.showCurrentAction()</h3>
                    <div style="">
                        @if(game.state == models.Place) {
                            <p>Player's Territories:</p>
                            <td >
                                <div style="width:100%; max-height:300px; overflow:auto">
                                    @for(t <- game.getCurrentPlayer().territoryNames) {
                                        <p>@t</p>
                                    }
                                </div>
                            </td>
                        }
                        @if(game.state == models.Place) {
                            <p>&nbsp</p>
                            <p>Neighboring Territories:</p>
                            <td >
                                <div style="width:100%; max-height:300px; overflow:auto">
                                @for(t <- game.getCurrentPlayer().neighbors) {
                                    <p>@t</p>
                                }
                                </div>
                            </td>
                            <p>&nbsp</p>
                        }
                    </div>

                </div>
                <div class="col-sm text-center bg-light text-dark">
                    <h1>Game Controls</h1>
                    @* Flash shows updates to a page *@
                    @request.flash.data.map{ case (name, value) =>
                    <div>@name: @value</div>
                    }
                    @* Global errors are not tied to any particular form field *@
                    @if(form.hasGlobalErrors) {
                        @form.globalErrors.map { error: FormError =>
                            <div>
                                Error: @error.key: @error.message
                            </div>
                        }
                    }
                    @helper.form(postUrl) {
                        @helper.CSRF.formField

                        @helper.inputText(form("INPUT"))

                        <button class="btn btn-outline-dark">Submit</button>
                    }
                </div>
                <div class="col-sm text-center bg-secondary text-light">
                    <h1>Info</h1>
                    <p>Player Color Key:</p>
                    @for(i <- game.getPlayers()) {
                        <p style="color:@("rgb(" + i.createRGB._1 + ", " + i.createRGB._2 + ", " + i.createRGB._3 + ")");">@i.name: @i.color<p>
                    }

                    @* Nested table for listing commands *@
                    <p>Game Commands:</p>
                    <p><b>place(territory, numArmies)</b> - places # of armies in territory</p>
                    <p><b>next</b> - finishess turn and continues to next player</p>
                </div>
            </div>
        </div>
    </section>
}
