@(game: models.Game)

<head>
    <title>Game</title>
    <link href="stylesheets/gameStyle.css" rel="stylesheet">
</head>

@main("Game") {
    <section id="top">
        <div class="wrapper">
            <h1>Game</h1>
            <div class="gameMap" style="position: relative;">
                <img src="@routes.Assets.versioned("images/world-domination-game-board-2.1.1.jpg")" style="max-width: 100%; max-height: 100%; ">
                @for(i <- GameMap.getTerritories) {
                    <div class="territory" id="@i.name" style="position: absolute; top: @(i.position._1 + "%"); left: @(i.position._2 + "%");
                            border-radius: 50%; background-color: @("rgb(" + i.getOccupant.createRGB._1 + ", " + i.getOccupant.createRGB._2 + ", " + i.getOccupant.createRGB._3 + ")"); border: 1px solid #666; width: 2%;
                            text-align: center; font: 40% Arial, sans-serif;">
                        @*<img src="@routes.Assets.versioned("images/inf.png")" style="position: absolute; height: 4%">*@
                        @*<div class="numCircle" style="position: relative; border-radius: 50%; width: 10%; height: 25%; padding: 1px; background: #fff; border: 1px solid #666; color: #666; text-align: center; font: 40% Arial, sans-serif;">*@
                            @*<p>@i.numArmies</p>*@
                        @*</div>*@
                        <p>@i.numArmies</p>
                    </div>
                }
            </div>
            <p>Current Player@game.getCurrentPlayer().name</p>
        </div>
    </section>
}
