@(widgets: Seq[Widget], form: Form[WidgetForm.Data], postUrl: Call)(implicit request: MessagesRequestHeader)

  @main("Players") {

    <h1>Players</h1>
  <p><b>Please create 3 to 6 players by entering their name.</b></p>
  <p>Press <b>Start Game</b> to start the game. Press <b>Reset</b> to reset the player list.</p>

    @* Flash shows updates to a page *@
    @request.flash.data.map{ case (name) =>
      <div>@name:</div>
    }

    <table>
      <thead>
        <tr><th>Name</th>
      </thead>
      <tbody>
      @for(w <- widgets) {
        <tr><td>@w.name</td></tr>
      }
      </tbody>
    </table>

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
      @form.globalErrors.map { error: FormError =>
        <div>
          @error.key: @error.message
        </div>
      }
    }

    @helper.form(postUrl) {
      @helper.CSRF.formField

      @helper.inputText(form("Name:"))

      <button>Submit</button>
    }

    @* Table to group start and reset buttons *@
    <table>
      <tr>
        <td>
          @* Start button *@
          <form action="@controllers.routes.WidgetController.start">
            <input type="submit" value="Start Game" />
          </form>
        </td>
        <td>
          @* Reset button *@
          <form action="@controllers.routes.WidgetController.reset">
            <input type="submit" value="Reset" />
          </form>
        </td>
      </tr>
    </table>
}
